<br />
<div class="container-fluid">
  <!-- Test -->
  <div class="container mt-5">
    <div class="row mb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#home">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#test">Thi trắc nghiệm</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Android nâng cao
          </li>
        </ol>
      </nav>
    </div>
    <div class="row mt-4" ng-repeat="ad in adav">
      <div class="card">
        <div class="card-header row text-white bg-success" style="width: 100%">
          <h5 class="col-11">[{{ad.Id}}] {{ad.Text}}</h5>
          <div class="col-1">
            <span class="badge bg-primary">
              {{ad.Marks}} điểm
            </span>
          </div>
        </div>
        <div class="card-body" ng-repeat="as in ad.Answers">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="{{ad.Id}}"
              ng-model="result"
            />
            <label class="form-check-label" for="{{ad.Id}}">
              {{as.Text}}
            </label> 
          </div>
        </div>
      </div>
    </div>
    <!-- Result -->
    <div class="row mt-5">
      <div class="card collapse multi-collapse" id="multiCollapseExample1">
        <div class="card-body row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="d-flex justify-content-center text-center">
              <h4>Chúc mừng bạn đã hoàn thành bài thi !</h4>
            </div>
            <div class="d-flex justify-content-center text-center">
              <img
                src="../../img/undraw_well_done_i2wr.svg"
                style="width: 50%; height: 50%"
                alt=""
              />
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6" style="padding-top: 5%">
            <h5>Điểm của bạn : <span>50 điểm</span></h5>
            <h5>Tổng số câu trả lời đúng : <span>5/5 câu</span></h5>
            <h5>Tổng thời gian hoàn thành : <span>5 phút 56 giây</span></h5>
            <h5>Thời gian trung bình mỗi câu : <span>1 phút 20 giây</span></h5>
            <h5>Điểm tích lũy : <span>+ 1</span></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="row mt-5">
      <a
        type="button"
        class="btn btn-primary"
        id="liveToastBtn"
        aria-expanded="false"
        aria-controls="multiCollapseExample1"
        data-bs-toggle="collapse"
        href="#multiCollapseExample1"
        >Kiểm tra kết quả</a
      >
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div
          id="liveToast"
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div
            class="alert alert-success d-flex align-items-center"
            role="alert"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-check2-all"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
              />
              <path
                d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"
              />
            </svg>
            <div>
              Aww yeah, you successfully read this important alert message
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="row mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>