<br />
<div class="container-fluid">
  <!-- Test -->
  <div class="container mt-5">
    <div class="row mb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#home">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#test">Thi trắc nghiệm</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{title}}
          </li>
        </ol>
      </nav>
    </div>
    <div class="row text-center">
      <h5>Thời gian đếm ngược 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
          <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
        </svg>
        <span id="mytime">15:00</span> giây</h5>
    </div>
    <div class="row p-5">
      <button  class="btn btn-primary" role="button" ng-click="showQuestion()" ng-show="isShow">Bắt đầu làm bài</button>
    </div>
    <div class="row mt-4" ng-repeat="ad in srcs">
      <div class="card">
        <div class="card-header row text-white bg-success" style="width: 100%">
          <h6 class="col-11">[ {{ad.id}}/{{len}} ] {{ad.Text}}</h6>
          <div class="col-1">
            <span class="badge bg-primary">
              {{ad.Marks}} điểm
            </span>
          </div>
        </div>
        <div class="card-body" ng-repeat="as in ad.Answers">
          <div class="form-check mb-0">
              <input
              class="form-check-input"
              type="radio"
              name="answer"
              value="{{as.Id}}"
              checked
            />
            <label class="form-check-label"
            style="width: 100%;"
            for="{{ad.id}}">
              {{as.Text}} 
            </label> 
          </div>
        </div>
      </div>
    </div>
    <!-- Submit -->
    <div class="row mt-5">
      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalToggleLabel">Kết quả bài làm</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h5>Số câu đúng : <span>{{totalMark}}</span> / <span>{{len}}</span> </h5>
                    <h5>Tổng điểm đạt được : <span>{{totalMark}}</span> điểm</h5>
                    <h5>Thời gian hoàn thành : 5 phút 50 giây</h5>
                </div>
                <hr />
                <div class="row">
                  <img class="rounded mx-auto d-block" src="/img/undraw_well_done_i2wr.svg" alt="well-done" style="width: 40%; height: 40%;">
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Đóng</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button ng-click="check()" class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Kiểm tra kết quả</button>
        <button  class="btn btn-primary" role="button" ng-click="nextQuestion()">Câu tiếp theo</button>
      </div>
    </div>
  </div>
</div>
