<body ng-app="myapp">
  <div ng-include="'/pages/header.html'"></div>
<br />
<div class="container-fluid">
  <!-- SDK -->
  <div id="fb-root"></div>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0"
    nonce="znwdDVmL"
  ></script>
  <!-- Feedback -->
  <div class="container mt-5">
    <div class="row mb-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="../index.html">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Góp ý</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="card bg-light">
        <div class="card-header border-0 bg-light">
          <h4>Để lại ý kiến đóng góp của bạn để chúng tôi nỗ lực hơn</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <form name="frmFeedback">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Họ và tên</label
                    >
                    <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    name="username"
                    ng-model="user"
                    required
                    oninvalid="this.setCustomValidity('Vui lòng nhập tên đăng nhập')"
                    onchange="this.setCustomValidity('')"
                  />
                  <div class="text-danger" ng-hide="frmFeedback.username.$untouched || frmFeedback.username.$valid">
                    <small ng-show="frmFeedback.username.$error.required"> Không được để trống </small>
                  </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Số điện thoại</label
                    >
                    <input
                    type="tel"
                    class="form-control"
                    id="exampleFormControlInput1"
                    name="numberphone"
                    ng-model="numberphone"
                    required
                    oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')"
                    onchange="this.setCustomValidity('')"
                  />
                  <div class="text-danger" ng-hide="frmFeedback.numberphone.$untouched || frmFeedback.numberphone.$valid">
                    <small ng-show="frmFeedback.numberphone.$error.required"> Không được để trống </small>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      required
                      oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                      onchange="this.setCustomValidity('')"
                      name="email"
                      ng-model="email"
                    />
                    <div class="text-danger" ng-hide="frmFeedback.email.$untouched || frmFeedback.email.$valid">
                      <small ng-show="frmFeedback.email.$error.required"> Không được để trống </small>
                      <small ng-show="frmFeedback.email.$error.email"
                        >Không đúng định dạng email</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="mb-3">
                    <label for="disabledSelect" class="form-label"
                      >Nội dung phản hồi</label
                    >
                    <select id="disabledSelect" class="form-select">
                      <option>Đánh giá</option>
                      <option>Về chất lượng</option>
                      <option>Góp ý</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label"
                    >Nội dung góp ý</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="5"
                    required
                    oninvalid="this.setCustomValidity('Vui lòng nhập nội dung')"
                    onchange="this.setCustomValidity('')"
                    name="content"
                    ng-model="content"
                  ></textarea>
                  <div class="text-danger" ng-hide="frmFeedback.content.$untouched || frmFeedback.content.$valid">
                    <small ng-show="frmFeedback.content.$error.required"> Không được để trống </small>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">
                Đóng góp ý kiến
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div
        class="fb-comments"
        data-href="https://thanhyou00.github.io/esquizs/pages/feedback.html"
        data-width="100%"
        data-numposts="5"
      ></div>
    </div>
  </div>
</div>
</body>
